<section id="about" class="about-section content-section">
    <h2 class="fade-in">Over Mij</h2>
    <div class="about-content fade-in">
        <div class="about-photo-container fade-in">
            <div class="photo-background-lines">
                <svg viewBox="0 0 220 220" preserveAspectRatio="xMidYMid meet">
                    <path class="photo-line-main" d="M 110 5 A 105 105 0 0 1 110 215 A 105 105 0 0 1 110 5 Z"></path>
                    <path class="photo-line-1" d="M 210 110 A 100 100 0 1 1 10 110 A 100 100 0 1 1 210 110" transform="rotate(15, 110, 110)"></path>
                    <path class="photo-line-2" d="M 200 110 C 200 160, 20 160, 20 110 S 200 60, 200 110" transform="rotate(-30, 110, 110)"></path>
                    <path class="photo-line-3" d="M 190 110 A 80 80 0 1 1 30 110 A 80 80 0 1 1 190 110" transform="rotate(50, 110, 110)"></path>
                </svg>
            </div>
            <img src="/images/Aboutme.jpg" alt="Emma de Heer" class="about-photo">
        </div>

        <div class="about-text">
            <div class="word-spinner-container">
                <p class="spinner-prefix">Ik creëer:</p>
                <div class="spinner-words">
                    <span class="spinner-word">Websites</span>
                    <span class="spinner-word">Huisstijlen</span>
                    <span class="spinner-word">Logo's</span>
                    <span class="spinner-word">User Flows</span>
                    <span class="spinner-word">Prototypes</span>
                </div>
            </div>
            <p>Design vormt voor mij de schakel tussen esthetiek en functionaliteit. Het gaat niet uitsluitend om visuele aantrekkingskracht, maar om het ontwikkelen van doordachte, gebruiksvriendelijke oplossingen...</p>
        </div>
    </div>
    <ul class="noteworthy-list">
        <li><h4>Strategische Denker</h4><span>Ik kijk verder dan het scherm.</span></li>
        <li><h4>Proactieve Communicator</h4><span>Ik hou van duidelijke lijnen.</span></li>
        <li><h4>Altijd Leergierig</h4><span>De digitale wereld staat nooit stil.</span></li>
    </ul>
</section>