<section id="work" class="work-section content-section">
    <div class="section-background-lines">
        <svg viewBox="0 0 1100 600" preserveAspectRatio="xMidYMid slice">
            <path class="bg-line-1" d="M -100 250 C 200 100, 500 500, 800 200 S 1200 450, 1200 450"></path>
            <path class="bg-line-2" d="M -100 550 C 100 650, 400 300, 700 450 S 1000 350, 1200 400"></path>
            <path class="bg-line-3" d="M 1200 50 C 1000 -50, 800 350, 500 200 S 200 450, -100 350"></path>
        </svg>
    </div>
    <h2 class="fade-in">Uitgelicht Werk</h2>
    <div class="work-cards-grid">
        <a href="#" class="card fade-in" data-target="#popup-ux">
            <div class="content"><h3>UI/UX Design</h3><span>Bekijk projecten</span></div>
        </a>
        <a href="#" class="card fade-in" data-target="#popup-branding">
            <div class="content"><h3>Branding</h3><span>Bekijk projecten</span></div>
        </a>
        <a href="#" class="card fade-in" data-target="#popup-apps">
            <div class="content"><h3>Mobile Apps</h3><span>Bekijk projecten</span></div>
        </a>
    </div>
</section>