---
import MainLayout from '../layouts/MainLayout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Work from '../components/Work.astro';
import Talents from '../components/Talents.astro';
import Timeline from '../components/Workflow.astro';
import Footer from '../components/Footer.astro';
import Popups from '../components/Popups.astro';
---
<MainLayout title="Emma de Heer | Creatief & UX Designer">
    <Navbar />
    <main>
        <Hero />
        <About />
        <Work />
        <Talents />
        <Timeline />
    </main>
    <Footer />
    <Popups />
</MainLayout>